p,a{
    font-family: 'Lato', sans-serif;
}
html{
    display: flex;
    flex-wrap: wrap;
}

.top-header{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 78px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px rgb(214, 214, 214) solid ;
}

.top-container{
    width: 1200px;
    margin: auto;
    position: relative;
    height: 45px;
}

.top-text{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 15px;
    transition: .3s;
}

.top-text:hover{
    color: #ffe605;
    transition: .3s;
}

.top-right-block{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
}

.top-right-text{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    transition: .3s;
}
.top-right-text:hover{
    color: #ffe605;
    transition: .3s;
}
.cart-count{
    text-align: center;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: gold;
    border: 5px gold solid;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 4px;
    font-size: 14px;
}
.top-right-cart{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: black;
}

nav{
    width: 100%;
    height: 200px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 1000;
}

.nav-container{
    box-sizing: border-box;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left-block{
    font-family: 'Lato', sans-serif;
    display:inline-block;
    text-decoration: none;
    color: black;
    letter-spacing: 4.75px;
    transition: .3s;
}

.nav-left-block:hover{
    color: #ffe605;
    transition: .3s;
}

.nav-right-block > a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 35px;
    position: relative;
}

.nav-right-block > a::before{
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    border-bottom: 1px solid black;
    width: 0%;
    transition: .4s;
}

.nav-right-block > a:hover::before{
    left: 0%;
    width: 100%;
    transition: .4s;
}

.cover-block{
    width: 100%;
    position: relative;
    display: flex;
}
.cover-block > img{
    width: 49%;
}
.cover-right-block {
    width: 51%;
    box-sizing: border-box;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* background-color: wheat; */
}
.cover-right-block > p:first-child{
    font-size: 100px;
    width: 560px;
}

.cover-right-block > p:nth-child(2){
    font-size: 62px;
    width: 560px;
    color: #ffe605;
    margin: 15px 0px 25px 0px;
}

.cover-right-block  .cover-botton{
    width: 195px;
    height: 60px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding:19px;
    transition: .3s;
}
.cover-right-block  .cover-botton:hover{
    background-color: #ffe605;
    color: black; 
    transition: .3s; 
}

.covor-page{
    position: absolute;
    right: 50px;
    
}
.covor-page > a{
    text-decoration: none;
    color: black;
    position: relative;
}

.covor-page > a::before{
    content: '';
    border-left: black 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10%;
    transition: .3s;
}

.covor-page > a:hover::before{
    top: -200%;
    height: 500%;
    transition: .3s;
}

.covor-page > a::after{
    content: '';
    position: absolute;
    background-color: white;
    width: 5%;
    height: 200%;
    top : -50%;
    left: 50%;
}

.cover-shadow{
    width: 90%;
    height: 70px;
    margin-left: 10%;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 10px 26px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 26px -26px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 26px -26px rgba(0,0,0,0.75);
}

.food-category{
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    display: flex;
}
.foods{
    margin: 15px;
}
.food-category a{
    text-align: center;
    text-decoration: none;
    font-size: 33px;
    color: black; 
    transition: .3s;
}
.food-category :hover{
    color: #ffe605;
    transition: .3s;
    
}
.food-category p{
    position: relative;
    top:-50px;
}
.food-category img{
    width: 100%;
}

.foods:hover{
    -webkit-box-shadow: -1px 1px 14px -3px rgba(0,0,0,0.26);
-moz-box-shadow: -1px 1px 14px -3px rgba(0,0,0,0.26);
box-shadow: -1px 1px 14px -3px rgba(0,0,0,0.26);
}

.event-block{
    width: 1200px;
    margin: auto;
    display: flex;
    font-size: 0;
    /* height: 500px; */
}
.event-big-part{
    width: 50%;
    box-sizing: border-box;
    padding-right: 15px;
    position: relative;
}
.event-big-part > img{
    width: 100%;
}
.big-part-text{
    position: absolute;
    left: 60px;
    bottom: 70px;
}
.big-part-text > p{
    font-size: 36px;
    color: white;
    font-weight: bold;
}
.big-part-text > a{
    font-size: 20px;
    color: white;
    transition: .3s;
    font-weight: bold;
}
.big-part-text > a:hover{
    color: black;
    transition: .3s;
}

.event-split-part{
    width: 50%;
    box-sizing: border-box;
    padding-left: 15px;
    position: relative;
}
.event-split-part img{
    width: 100%;
}
.event-split-part img:first-child{
    padding-bottom: 32px;
}
.split-part-text1{
    position: absolute;
    top: 195px;
    left: 45px;
}

.split-part-text1 > p{
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.split-part-text1 > a{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.split-part-text1 > a:hover{
    color: black;
    transition: .3s;
}

.split-part-text2{
    position: absolute;
    bottom: 105px;
    left: 45px;
}
.split-part-text2 > p{
    font-size: 38px;
    color: white;
    font-weight: bold;
}

.split-part-text2 > p:nth-child(3){
    font-size: 15px;
}

.split-part-text2 > a{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.split-part-text2 > a:hover{
    color: black;
    transition: .3s;
}

.feature-text{
    width: 1200px;
    margin: auto;
    height: 50px;   
    text-align: center;
    box-sizing: border-box;
    margin-top: 100px;
    padding: 10px;
    position: relative;

    background-color: chocolate;
}
.feature-text p{
    font-size: 24px;
    font-weight: bolder;
}
.feature-change-page{
    width: 35px;
    height: 35px;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 3px;
    position: absolute;
    right: 0;
    top :8px;

    background-color: white;
}
.feature-text > a:nth-child(2){
    right: 45px;
}









footer{
    height: 50px;
    background-color: #ffe605;
    text-align: center;
    font-size: 14px;
    line-height: 50px;
}